header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 400px;
  margin-bottom: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(8px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedevs {
  display: flex;
  gap: 30px;
  margin-bottom: 24px;
}

.cartao-pokedev {
  display: none;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-pokedev.aberto {
  display: block;
}

.cartao-pokedev img {
  width: 100%;
  height: 100%;
  margin-top: 24px;
  border-radius: 4px;
}

.cartao-pokedev .cartao-topo {
  padding: 24px 40px 0;
}

.cartao-pokedev .nome {
  margin-bottom: 4px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cartao-pokedev .numero {
  text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 16px;
}
.cartao-pokedev .tipo {
  background-color: white;
  font-size: 12px;
  opacity: 0.7px;
  border-radius: 10px;
  padding: 4px 10px;
}

.cartao-pokedev .detalhes {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartao-pokedev .cartao-informacoes {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 80px 32px 40px;
  margin-top: -70px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cartao-pokedev .cartao-informacoes h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6b727a;
}

.cartao-pokedev .cartao-informacoes .descricao {
  padding: 0px 10px;
  font-size: 15px;
  text-align: justify;
  max-height: 150px;
  overflow-y: scroll;
}

.descricao::-webkit-scrollbar {
  width: 4px;
}

.descricao::-webkit-scrollbar-thumb {
  background-color: #6b727a;
  border-radius: 10px;
}

.descricao::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

.tipo-eletrico {
  background-color: #fcc719;
}

.tipo-fogo {
  background-color: #f15000d2;
}

.tipo-agua {
  background-color: #015c98;
}

.tipo-fada {
  background-color: #ba68c8;
}

.tipo-normal {
  background-color: #c29791;
}

.listagem {
  max-width: 200px;
  margin-left: 16px;
}

.listagem .pokedev img {
  width: 25%;
  border-radius: 50%;
}

.listagem .pokedev {
  background-color: #6b727a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  margin-bottom: 10px;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 62px;
  transition: 0.15s ease-in-out;
}

.listagem .pokedev:hover {
  transform: scale(1.05);
}

.listagem .pokedev span {
  padding-right: 8px;
}

.listagem .pokedev.ativo {
  background-color: #fa6668;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
}

.ditto {
  margin-left: 12px;
  width: 32px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 750px) {
  header img {
    max-width: 360px;
  }

  main {
    flex-direction: column;
  }

  .pokedev {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .pokedevs {
    margin-bottom: 32px;
  }

  .cartao-pokedev {
    max-width: 300px;
  }

  .cartao-pokedev .cartao-informacoes {
    padding: 60px 30px 30px;
    margin-top: -50px;
  }

  .cartao-pokedev .cartao-informacoes h3 {
    font-size: 16px;
  }

  .listagem {
    max-width: 360px;
    margin-left: 0;
  }

  .listagem .pokedev {
    width: 48%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    border-radius: 8px;
    padding: 16px 0;
    gap: 8px;
  }

  .listagem ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  footer {
    margin-top: 32px;
  }

  .ditto {
    margin-left: 8px;
  }
}
